# Local configuration / secrets
local.settings.json
appsettings.json
**/local.settings.json
**/appsettings.json

# .NET build output
bin/
obj/

# Publish output
publish/
**/publish/

# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ProductCatalogueSolution.iml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
dataSources.local.xml
